<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Time to Bottle!</title>
</head>
<body>
  <h1>Hi <%= @brew.user.username %>!</h1>
    <h3>It's time to bottle your batch of <%= @brew.recipe.name %>!</h3>
    <h5>Happy brewing!</h5>
</body>
</html>