<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Hi <%= @user.username %>,</h1>
  <br>
  <p>Welcome to YouBrew! <br> If you have any questions feel free to contact us at YouBrewInfo@gmail.com. <br> Happy Brewing!</p>
</body>
</html>