.wrapper {
  background-image: url('small_steps.png');
}

.center {
          text-align: center;
}

.comment {
          width: 250px;
          padding: 10px;
          margin: 0;
          background-color: white;
}

.reply {
        width: 320px;
        padding: 10px;
        border: 1px solid gray;
        margin-left: 50px;
}

.replyuser {
            margin-left: 50px;
}

.left {
      float: left;
}

.progress {
  height: 20px !important;
}

ul {
  list-style-type: none;
}

.index {
  // background-color: #5BAFD8;
}

.navbar-custom .navbar-custom .navbar-fixed-top{
  background-color: #0087CC;
}

.module-small {
    // background-color: #5BAFD8;
    padding: 70px 0;
}

.title-text {
  color: black;
  text-align: center;
}

.vertical-divider:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}

.space {
  margin-bottom: 30px;
}

.form_center {

  text-align: center;
}

.header-text {
  font-weight: bold;
}

.well {
  background-color: #c5cacc !important;
}

.bold {
  font-weight: bold;
}