body {
  background-image: url('small-steps.png');
}

.center {
          margin: auto;
}

.comment {
          width: 320px;
          padding: 10px;
          border: 1px solid gray;
          margin: 0;
}

.reply {
        width: 320px;
        padding: 10px;
        border: 1px solid gray;
        margin-left: 50px;
}

.replyuser {
            margin-left: 50px;
}

.left {
      float: left;
}

.progress {
  height: 20px !important;
}

ul {
  list-style-type: none;
}